package $pkgName;
#set($lowerFirstPojoName = $util.lowerCaseFirst($pojoName))
#set($pkType = $util.thinType($primaryFieldType))
#foreach($type in $util.importType($fields))
import $type;
#end

import java.util.ArrayList;
import java.util.List;

#set( $baseFields = "id,creator,gmtCreated,modifier,gmtModified,deleted,")

/**
*
* ${pojoName} POJO
* @author HanJunTao
*
*/
public class ${pojoName} implements Serializable{
#foreach($f in $fields)
    #set($comment = $f.comment)
    #set($type = $util.thinType($f.type))
    #if  ($type=="BigInteger" || $type=="java.math.BigInteger")
        #set($type="Long")
    #end
    #set($name = $f.name)
    #set($comment = $f.comment)
    #if($baseFields.indexOf("$name,") == -1)
    private $type $name;
    #end
#end



public static interface ObjField {
#foreach($f in $fields)
    #set($name = $f.name)
    #if($baseFields.indexOf("$name,") == -1)
    public String $name = "$name";
    #end
#end
}
public static enum DBField  {
#foreach($f    in $fields)
    #set($type = $f.type)
    #set($name = $f.name)
    #set($fieldName    =    $f.fieldName)
    #if($baseFields.indexOf("$name,") == -1)
        $fieldName,
    #end
#end
}

#foreach($f in $fields)

    #set($type = $util.thinType($f.type))
    #if  ($type=="BigInteger" || $type=="java.math.BigInteger")
        #set($type="Long")
    #end
    #set($name = $f.name)
    #set($comment = $f.comment)
    #if($baseFields.indexOf("$name,") == -1)

    public $type get$util.upperCaseFirst($name)() {
    return this.$name;
    }

    public void set$util.upperCaseFirst($name)($type $name) {
    this.$name = $name;
    }
    #end
#end

public static ${pojoName} to${pojoName}(${pojoName} ${lowerFirstPojoName}Pojo) {
${pojoName} ${lowerFirstPojoName} = new ${pojoName}();
#foreach($f in $fields)
    #set($name = $f.name)
    ${lowerFirstPojoName}.set$util.upperCaseFirst($name)(${lowerFirstPojoName}Pojo.get$util.upperCaseFirst($name)());
#end
return ${lowerFirstPojoName};
}

}
