package ${pkgName};
#set($lowerFirstPojoName = $util.lowerCaseFirst($pojoName))
#set($pkType = $util.thinType($primaryFieldType))
#foreach($type in $util.importType($fields))
import $type;
#end

#set( $baseFields = "id,creator,gmtCreated,modifier,gmtModified,deleted,")

/**
*
* ${pojoName} POJO
* @author HanJunTao
*
*/
public class ${pojoName} extends BaseVO{
#foreach($f in $fields)
    #set($comment = $f.comment)
    #set($type = $util.thinType($f.type))
    #if  ($type=="BigInteger" || $type=="java.math.BigInteger")
        #set($type="Long")
    #end
    #set($name = $f.name)
    #set($comment = $f.comment)
    #if($baseFields.indexOf("$name,") == -1)
    private $type $name;
    #end
#end



#foreach($f in $fields)

    #set($type = $util.thinType($f.type))
    #if  ($type=="BigInteger" || $type=="java.math.BigInteger")
        #set($type="Long")
    #end
    #set($name = $f.name)
    #set($comment = $f.comment)
    #if($baseFields.indexOf("$name,") == -1)

    public $type get$util.upperCaseFirst($name)() {
    return this.$name;
    }

    public void set$util.upperCaseFirst($name)($type $name) {
    this.$name = $name;
    }
    #end
#end

}
