#set($primaryName = $util.camelize($primaryField))
#set($pkType = $util.thinType($primaryFieldType)) 
#set($lowerFirstPojoName = $util.lowerCaseFirst($pojoName)) 
package $pkgName;

import javax.ws.rs.Path;

import org.springframework.stereotype.Component;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * ${pojoName}Resource
 * @author HanJunTao
 */

@Path("${lowerFirstPojoName}")
@Component
public class ${pojoName}Resource extends BaseResource{

	@Autowired
	private ${pojoName}Service ${lowerFirstPojoName}Service;
}
