<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    #set($primaryName = $util.camelize($primaryField))
    #set($lowerFirstPojoName = $util.lowerCaseFirst($pojoName))
<mapper namespace="$pojoName">
    <resultMap id="${lowerFirstPojoName}Map" type="${lowerFirstPojoName}">
        #foreach($f    in $fields)
            #set($type = $f.type)
            #set($name = $f.name)
            #set($fieldName    = $f.fieldName)
            #if    ($type == "Byte[]")
                <result property="$name" column="$fieldName" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
            #else
                <result property="$name" column="$fieldName"/>
            #end
        #end
    </resultMap>
    <!-- 查询条件 -->
    <sql id="CONDITION">
        <trim prefix="WHERE" prefixOverrides="AND ">
            #foreach($f in $fields)
                #set($type = $f.type)
                #set($name = $f.name)
                #set($fieldName    = $f.fieldName)
                #if($type == "java.lang.String")
                    <if test="$name!=null and $name!=''">AND $fieldName = #{$name}</if>
                #else
                    <if test="$name!=null">AND $fieldName = #{$name}</if>
                #end
            #end
        </trim>
    </sql>
    <!-- 分页条件 -->
    <sql id="PAGING">
        <if test="startIndex!=null and pageSize!=null">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </sql>

    <!-- 所有字段 -->
    <sql id="ALL-FIELDS">
        <![CDATA[
        #foreach($f in $fields)
            #set($fieldName =    $f.fieldName)
            #if($velocityCount== $fields.size())
                $fieldName
            #else
                $fieldName,
            #end
        #end
        ]]>
    </sql>
    <!-- 单条添加 -->
    <insert id="INSERT" parameterType="${lowerFirstPojoName}">
        INSERT INTO $tableName
        (
        <trim suffixOverrides=",">
            #foreach($f  in $fields)
                #set($type = $f.type)
                #set($name = $f.name)
                #set($fieldName    =    $f.fieldName)
                #if($type == "java.lang.String")
                    <if test="$name!=null and $name!=''">$fieldName#if($velocityCount!=$fields.size()),#end</if>
                #else
                    <if test="$name!=null">$fieldName#if($velocityCount!=$fields.size()),#end</if>
                #end
            #end
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            #foreach($f  in $fields)
                #set($type = $f.type)
                #set($name = $f.name)
                #if($type == "java.lang.String")
                    <if test="$name!=null and $name!=''">#{$name}#if($velocityCount!=$fields.size()),#end</if>
                #else
                    <if test="$name!=null">#{$name}#if($velocityCount!=$fields.size()),#end</if>
                #end
            #end
        </trim>
        )
        <selectKey resultType="${primaryFieldType}" keyProperty="$primaryName">
            SELECT last_insert_id() AS ID FROM $tableName LIMIT 1
        </selectKey>
    </insert>

    <!-- 返回插入的编号,在事务开启状态下有效 -->
    <select id="LAST-SEQUENCE-ID" resultType="int">
        <![CDATA[SELECT last_insert_id() AS ID FROM $tableName LIMIT 1]]>
    </select>

    <!-- 删除 -->
    <delete id="DELETE" parameterType="${lowerFirstPojoName}">
        DELETE FROM $tableName
        <include refid="CONDITION"/>
    </delete>

    <!-- 根据主键更新 -->
    <update id="UPDATE" parameterType="${lowerFirstPojoName}">
        UPDATE $tableName
        <set>
            #foreach($f  in $fields)
                #set($type = $f.type)
                #set($name = $f.name)
                #set($fieldName    =    $f.fieldName)
                #if($type == "java.lang.String")
                    <if test="$name!=null and $name!=''">$fieldName = #{$name}#if($velocityCount!=$fields.size())
                        ,#end</if>
                #else
                    <if test="$name!=null">$fieldName = #{$name}#if($velocityCount!=$fields.size()),#end</if>
                #end
            #end
        </set>
        WHERE $primaryField = #{$primaryName}
    </update>

    <!-- 根据主键查询单条记录 -->
    <select id="SELECT" parameterType="${primaryFieldType}" resultMap="${lowerFirstPojoName}Map">
        SELECT
        <include refid="ALL-FIELDS"/>
        FROM $tableName where $primaryField = #{$primaryName}
    </select>

    <!-- 根据条件查询 分页查询 -->
    <select id="SELECT-LIST" parameterType="${lowerFirstPojoName}" resultMap="${lowerFirstPojoName}Map">
        SELECT
        <include refid="ALL-FIELDS"/>
        FROM $tableName
        <include refid="CONDITION"/>
        <include refid="PAGING"/>
    </select>
    <select id="COUNT" resultType="java.lang.Integer" parameterType="${lowerFirstPojoName}">
        SELECT COUNT(*) FROM $tableName
        <include refid="CONDITION"/>
    </select>

</mapper>