<?xml version="1.0" encoding="UTF-8"?>
<config>
    <output>/Users/hanjuntao/Documents/workspace/mybatis-generator/target/</output>
    <templates>
        <item>
            <name>SqlMapper.xml</name>
            <template>template/sql_mapper.vm</template>
            <package>com.jd.panda.dao.mapper</package>
            <fileSuffix>.xml</fileSuffix>
        </item>
        <!--
        <item>
                  <name>Pojo.java</name>
                  <template>template/pojo_java.vm</template>
                  <package>com.jd.panda.domain</package>
                  <fileSuffix>.java</fileSuffix>
              </item>
              <item>
                  <name>PojoService.java</name>
                  <template>template/service_interface_java.vm</template>
                  <package>com.jd.panda.service</package>
                  <fileSuffix>Service.java</fileSuffix>
              </item>
              <item>
                  <name>PojoServiceImpl.java</name>
                  <template>template/service_impl_java.vm</template>
                  <package>com.jd.panda.service.impl</package>
                  <fileSuffix>ServiceImpl.java</fileSuffix>
              </item>
               -->
    </templates>
    <jdbc>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://127.0.0.1:3306/aps_mes?useUnicode=true&amp;characterEncoding=UTF-8</url>
        <username>root</username>
        <password>root</password>
    </jdbc>
    <classes>
        <class name="TaskVO" tableName="sc_task" primaryField="id"/>
    </classes>
</config>
