<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--
    <output>D:\Framework\mybatis-generator\target</output>
    -->
    <output>D:\Framework\mybatis-generator\src\main\java\</output>
    <templates>
        <item>
            <name>SqlMapper.xml</name>
            <template>template/sql_mapper.vm</template>
            <package></package>
            <fileSuffix>.xml</fileSuffix>
        </item>
        <item>
            <name>Pojo.java</name>
            <template>template/pojo_java.vm</template>
            <package>com.jd.jdc.domain</package>
            <fileSuffix>.java</fileSuffix>
        </item>
        <item>
            <nam>PojoDao.java</nam>
            <template>template/pojo_dao_java.vm</template>
            <package>com.jd.jdc.dao</package>
            <fileSuffix>.java</fileSuffix>
        </item>
        <item>
            <nam>PojoDaoImpl.java</nam>
            <template>template/pojo_dao_impl_java.vm</template>
            <package>com.jd.jdc.dao.impl</package>
            <fileSuffix>.java</fileSuffix>
        </item>
    </templates>
    <jdbc>
        <driver>com.mysql.jdbc.Driver</driver>
        <url>jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8</url>
        <username>root</username>
        <password>hanjuntao</password>
    </jdbc>
    <classes>
        <class name="User" tableName="user" primaryField="id"/>
    </classes>
</config>
