<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.jd.panda.dao"/>

    <bean id="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:production.properties</value>
            </list>
        </property>
    </bean>

    <!-- BasicDataSource configuration -->
    <bean id="baseDataSource" class="org.apache.commons.dbcp.BasicDataSource" abstract="true" destroy-method="close"
          lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="20"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="5"/>
        <property name="initialSize" value="1"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="5000"/>
        <property name="numTestsPerEvictionRun" value="20"/>
    </bean>

    <!-- DBCP config -->
    <bean id="targetDataSource" parent="baseDataSource" lazy-init="true">
        <property name="url" value="${jdbc.url}"/>
    </bean>


    <bean id="lazyConnectionDataSource" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource" ref="targetDataSource"/>
    </bean>

    <bean id="dataSource" class="com.jd.panda.dao.datasource.DatabaseCluster">
        <property name="targetDataSources">
            <util:map key-type="java.lang.String">
                <entry key="1" value-ref="lazyConnectionDataSource" />
            </util:map>
        </property>
        <property name="defaultTargetDataSource" ref="lazyConnectionDataSource" />
        <property name="dbInUse" value="1" />
    </bean>

    <!-- 数据库读写分离并支持多从负载均衡 -->
    <bean id="routingDataSource" class="com.jd.panda.dao.datasource.RoutingDataSource">
        <property name="masterDataSource" ref="lazyConnectionDataSource"/>
        <property name="slaveDataSoures">
            <list>
                <ref bean="lazyConnectionDataSource"/>
            </list>
        </property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="routingDataSource"/>
    </bean>


    <!-- 集成Mybatis -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
        <property name="mapperLocations" value="classpath*:sqlmap/**/*.xml" />
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sessionFactory"/>
    </bean>
    <bean id="batchSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sessionFactory"/>
        <constructor-arg index="1" value="BATCH"/>
    </bean>
</beans>